.NotesWrapper {
  position: relative;
}

.cardWrapper {
  margin-top: 20px;
  padding: 20px;

}

.displayMethodOfNotes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  align-content: flex-start;
}

.gridView {
  flex-direction: row;
}

.listView {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.pinnedWrapper {
  min-height: 15%;
  width: 100%;
  height: fit-content;
  outline: 1px solid beige;
}