.deletedNotesWrapper {
  width: 29%;
  min-height: 15%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  outline: 1px solid rgb(95 99 104);
  border-radius: 10px;
  margin: 10px;
  position: relative;
}


.deletedNotesTitle {
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 1.5rem;
}

.restoreNotes {
  cursor: pointer;
}

.deleteForever {
  font-size: 23px;
  cursor: pointer;
}

.BinActionWrapper {
  /* display: none; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 6px;
  left: 8px;
  width: 20%;
}

.deletedNotesWrapper:hover .BinActionWrapper {
  display: flex;

}

.deleteforever-tool-tip {
  display: none;
  position: absolute;
  top: 37px;
  right: 10px;
  font-size: 16px;
  width: 106px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--tooltip-color);
}

.deleteForever:hover .deleteforever-tool-tip {
  display: block;
}

.restore-tool-tip {
  display: none;
  position: absolute;
  top: 37px;
  right: -21px;
  font-size: 16px;
  width: 77px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--tooltip-color);
}

.restoreNotes:hover .restore-tool-tip {
  display: block;
}