.DisplayNoteCardWrapper {
  width: 30%;
  min-height: 15%;
  height: fit-content;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  padding: 10px;
  outline: 1px solid rgb(95 99 104);
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.MyNoteTitle {
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 1.5rem;
}

.cardPinWrapper {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.cardActionWrapper {
  position: absolute;
  bottom: 11px;
  left: 14px;
  display: none;
  width: 60px;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}



.DisplayNoteCardWrapper:hover .cardPinWrapper {
  display: flex;
}

.cardPinWrapper:hover {
  background-color: var(--tooltip-color);

}

.DisplayNoteCardWrapper:hover .cardActionWrapper {
  display: flex;
}

.cardArchiveWrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.cardDeleteWrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.cardArchiveWrapper:hover,
.cardDeleteWrapper:hover {
  background-color: var(--tooltip-color);
}

.DisplayNoteCardWrapper {
  min-height: 100px;
}

.archive-tool-tip {
  display: none;
  position: absolute;
  top: 37px;
  right: -9px;
  width: 57px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--tooltip-color);
  color: white;
}

.cardArchiveWrapper:hover .archive-tool-tip {
  display: block;
}

.delete-tool-tip {
  display: none;
  position: absolute;
  top: 37px;
  right: -15px;
  width: 57px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--tooltip-color);
  color: white;
}

.cardDeleteWrapper:hover .delete-tool-tip {
  display: block;
}