:root {
  --bg-color: #202124;
  --text-color: white;
  --body-color: #282c2e;
  --inputBar-color: rgb(40 42 44);
}

/* #282c2e */
[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --body-color: white;
  --inputBar-color: rgb(240 244 249)
}

body {
  background: var(--body-color);
  color: var(--text-color);
}