:root {
  --bg-color: #202124;
  --text-color: white;
  --body-color: rgb(32 33 36);
  --inputBar-color: rgb(40 42 44);
  --sideBar-color: rgb(65 51 28);
  --tooltip-color: #393d40;
}

/* #rgb(65 51 28); */
/* #282c2e */
[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --body-color: white;
  --inputBar-color: rgb(240 244 249);
  --sideBar-color: #feefc3;
  --tooltip-color: #4f514f;
}

body {
  background: var(--body-color);
  color: var(--text-color);
}